.main-banner {
  height: 100vh;

  .banner-slider {

    .swiper-slide {

      // background-image: attr(data-background);
      .item {
        background-size: cover;
        background-position: center center;
        height: 100%;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;

        span {
          color: $light;
        }

        h1 {
          font-size: 60px;
          line-height: 72px;
          font-weight: 700;
          margin-bottom: 30px;
          color: $primary-color;
        }

        p {
          color: $secondary-color;
        }
      }

    }
  }
}